*{
box-sizing: border-box;
margin: 0;
}


body {
  font-family: 'Nunito', sans-serif;
  background-color:whitesmoke;
  color:#333;
  height: 100vh;
  font-size: 16px;
}
.wrapper {
  display: flex;
  z-index: 100;
  position: relative;
  flex-direction: column;   
  align-items: center;
  justify-content: start; 
}
#search {
  outline: none;
  color: #fff;
  width: 300px;
  height: 30px;
  background-color:rgba(255, 0, 0, 0.9);
  font-size: 1rem;
  height: 50px;
  border:1px solid rgba(255, 0, 0, 0.9);;
  text-align: center;
  border-radius: 5px;
}
#search::placeholder{
  color: #fff;
  text-align: center;
}
#search:focus::placeholder{
  color:rgba(255, 0, 0, 0.9);;
}
#search:focus{ 
  background-color:whitesmoke;
  background-color: transparent;
  border:1px solid #fff;
  color:#333;
}

#check {
  margin-top: 20px;
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
  width: 300px;
  color: rgba(255, 0, 0, 0.9);;
  height: 50px;
  outline: none;
  background-color: #fff;
  border:1px solid transparent;
  padding: 15px 0px;
  cursor: pointer;
  transition: box-shadow 2s ease, color 2s ease;
}
[data-tooltip] {
  position: relative; 
}
[data-tooltip]::after {
  text-transform: lowercase;
  font-size: 0.8rem;
  content: attr(data-tooltip); 
  position: absolute; 
  width: 300px; 
  left: 105%;
  top: 0;
  background: #3989c9; 
  color: #fff; 
  padding: 0.5em; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
  opacity: 0;
  transition: 1s; 
} 
[data-tooltip]:hover::after {
  opacity: 1; 
  top: 2em;
}

.btn-number{
  margin-top: 50px;
}

button:hover {
  box-shadow: inset 20em 0 rgba(255, 0, 0, 0.9);;
  color:#fff;
}

#result-field{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:10px;
  margin-top: 10px;
}

.warning {
  color: rgba(255, 0, 0, 0.9);;
  font-size: 1.3rem;
}

.satic-area {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: url(../img/poster-about.jpg) no-repeat center;
  background-size: cover;
}

.dynamic-area1   {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: url(../img/poster-drop-animate2.png) repeat-x 0px 0px;
  background-size: cover;
  -webkit-animation: posterDrop1 6000s linear infinite;
  -moz-animation: posterDrop1 6000s linear infinite;
  -o-animation: posterDrop1 6000s linear infinite;
      animation: posterDrop1 6000s linear infinite;
}

@-webkit-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
@-moz-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
@-o-keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }
  @keyframes posterDrop1 { from { background-position: 0 0; } to { background-position: 4000% 0; }  }

.dynamic-area2   {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: url(../img/poster-drop-animate1.png) repeat-x 0px 0px;
  background-size: cover;
  -webkit-animation: posterDrop2 8000s linear infinite;
  -moz-animation: posterDrop2 8000s linear infinite;
  -o-animation: posterDrop2 8000s linear infinite;
      animation: posterDrop2 8000s linear infinite;
}
@-webkit-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
@-moz-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
@-o-keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; }  }
  @keyframes posterDrop2 { from { background-position: 0 0; } to { background-position: 30000% 0; } }